<form method="post" action="{{ path('app_requirements_delete', {'id': requirements.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ requirements.id) }}">
    <button class="btn btn-sm btn-link text-danger" title="Delete"><i class="bi bi-trash fs-5 fw-bolder"></i></button>
</form>
