{% extends 'base.html.twig' %}

{% block h1 %}Profile{% endblock %}

{% block body %}
    <h1>Profile</h1>

    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Name</th>
            <td>{{ (profile) ? profile.name }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('app_profile_edit') }}">edit</a>

{% endblock %}
