{% extends 'base.html.twig' %}

{% block h1 %}Edit Account{% endblock %}
{% block card_actions %}
    <a href="{{ path('app_account_index') }}" class="btn btn-link">back</a>
    {{ include('account/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
    {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
