# config/packages/doctrine.yaml
doctrine:
  dbal:
    url: '%env(resolve:DATABASE_URL)%'
    # IMPORTANT: You MUST configure your server version,
    # either here or in the DATABASE_URL env var (see .env file)
    #server_version: '15'
  orm:
    auto_generate_proxy_classes: true
    naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
    auto_mapping: true
    enable_lazy_ghost_objects: true
    dql:
        datetime_functions:
            date: DoctrineExtensions\Query\Mysql\Date
    mappings:
      App:
        is_bundle: false
        dir: '%kernel.project_dir%/src/Entity'
        prefix: 'App\Entity'
        alias: App
      GedmoTranslatable:
        type: annotation
        prefix: Gedmo\Translatable\Entity
        dir: '%kernel.project_dir%/vendor/gedmo/doctrine-extensions/src/Translatable/Entity'
        alias: GedmoTranslatable
        is_bundle: false
      GedmoTranslator:
        type: annotation
        prefix: Gedmo\Translator\Entity
        dir: '%kernel.project_dir%/vendor/gedmo/doctrine-extensions/src/Translator/Entity'
        alias: GedmoTranslator
        is_bundle: false
      GedmoLoggable:
        type: annotation
        prefix: Gedmo\Loggable\Entity
        dir: '%kernel.project_dir%/vendor/gedmo/doctrine-extensions/src/Loggable/Entity'
        alias: GedmoLoggable
        is_bundle: false
      GedmoTree:
        type: annotation
        prefix: Gedmo\Tree\Entity
        dir: '%kernel.project_dir%/vendor/gedmo/doctrine-extensions/src/Tree/Entity'
        alias: GedmoTree
        is_bundle: false

# Test environment configuration
when@test:
  doctrine:
    dbal:
      # "TEST_TOKEN" is typically set by ParaTest
      dbname_suffix: '_test%env(default::TEST_TOKEN)%'

# Production environment configuration
when@prod:
  doctrine:
    orm:
      auto_generate_proxy_classes: false
      proxy_dir: '%kernel.build_dir%/doctrine/orm/Proxies'
      query_cache_driver:
        type: pool
        pool: doctrine.system_cache_pool
      result_cache_driver:
        type: pool
        pool: doctrine.result_cache_pool
