{% extends 'base.html.twig' %}

{% block h1 %}Task Schedule
{% endblock %}

{% block body %}
	<div class="calendar row">
		{% for day in 0..2 %}
			<div class="col">
				<div class="calendar-day">
					{% if schedule[day] is defined %}
						{% for task in schedule[day] %}
							{# {% if task.eta|date('Y-m-d') == (now|date_modify('+' ~ day ~ ' days')|date('Y-m-d')) %} #}
							{{ include('components/Task/Schedule.html.twig', {'task': task}) }}
							{# {% endif %} #}
						{% endfor %}
					{% endif %}
					{% for hour in 0..12 %}
						<div class="hour-block" style="top: {{ hour * 60 }}px; height: 60px;">
							{{ hour + 9 }}
						</div>
					{% endfor %}
				</div>
				<!-- .calendar-day -->
			</div>
		{% else %}
			<div class="no-tasks">No tasks available.</div>
		{% endfor %}
	</div>
	<!-- .calendar -->

{% endblock %}
