{% extends 'base.html.twig' %}

{% block h1 %}New Schedule
{% endblock %}
{% block card_actions %}
	<div>
		<a href="{{ path('app_schedule_index') }}">back to list</a>
	</div>
{% endblock %}
{% block body %}
	{{ include('schedule/_form.html.twig') }}
{% endblock %}
