{% extends 'base.html.twig' %}

{% block title %}
    Welcome to WuWei
{% endblock %}

{% block body %}
    {% for itemList in itemLists %}
        <div>
            <h2>{{ itemList.name }}</h2>
            {% for item in itemList.items %}
                <li>{{ item.name }}</li>
            {% endfor %}
        </div>
        <hr/>
    {% endfor %}
{% endblock %}
