{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <div>
        <ul>
            <li>Waffar</li>
            <li>Daght</li>
            <li>3l raye2</li>
            <li>Mothabara</li>
        </ul>
    </div>
{% endblock %}
