{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <a href="{{ path('app_daily') }}">Daily</a>
    <a href="{{ path('app_weekly') }}">Weekly</a>
{% endblock %}
