{% extends 'base.html.twig' %}

{% block title %}
    Hello DefaultController!
{% endblock %}

{% block body %}
    <div>
        <h2>Life recipe</h2>
        <ul>
            <li>Waffar</li>
            <li>El3ab daght</li>
            <li>3eesh 3l raye2</li>
            <li>Mothabara / Thaber</li>
        </ul>
    </div>
    <hr/>
    <div>
        <h2>Development plan</h2>
        <ul>
            <li>Create entities in myapp_upgrade or something</li>
            <li>Carefully add them here</li>
        </ul>
    </div>
    <hr/>
    <div>
        <h2>شعار المرحلة</h2>
        <ul>
            <li>khosh hatgeebk</li>
            <li>khosh 3l wase3</li>
            <li>Batalna elly ye3atlna (elly howa enta)</li>
        </ul>
    </div>
{% endblock %}
