{% if tasks %}
    <div class="card daily-card">
        <div class="card-header">
            <h2>{{ tasklist.name }}</h2>
        </div>
        {% include 'task/_tasks_list_accordion.html.twig' %}
    </div>
{% endif %}