{% if tasks %}
    <div class="card daily-card">
        <div class="card-header">
            <h2>{{ tasksListTitle }}</h2>
        </div>
        <div class="accordion accordion-flush tasks-list" id="{{ tasksListId }}">
            <div class="list-group">
                {% for task in tasks %}
                        {% include 'task/_task.html.twig' with {'task': task, 'tasksListId': tasksListId} %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}