{# <div class="d-flex flex-row flex-fill flex-wrap">#}
<div class="row">
    {% for task in tasks %}
        <div class="col-6 mt-3">
            {% include 'task/_task_card.html.twig' %}
        </div>
    {% endfor %}
</div>