{% extends 'base.html.twig' %}

{% block h1 %}Tasks{% endblock %}
{% block card_actions %}

        <a href="{{ path('app_task_index', {'viewType': 'table'}) }}" class="btn btn-outline-light">Table</a>
        <a href="{{ path('app_task_index', {'viewType': 'accordion'}) }}" class="btn btn-outline-light">Accordion</a>
        <a href="{{ path('app_task_index', {'viewType': 'cards'}) }}" class="btn btn-outline-light">Card</a>
        <a href="{{ path('app_task_new') }}" class="btn btn-outline-light">Create new</a>
{% endblock %}
{% block body %}

    {#    {% include 'task/_tasks_list_accordion.html.twig' %} #}

    {% if viewType == 'table' %}
        {% include 'task/_tasks_list_table.html.twig' %}
    {% elseif viewType == 'cards' %}
        {% include 'task/_tasks_list_card.html.twig' %}
    {% else %}
        {% include 'task/_tasks_list_accordion.html.twig' %}
    {% endif %}
{% endblock %}
