{% extends 'base.html.twig' %}

{% block h1 %}{{ entity_title }}{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': entity_name }) }}
{% endblock %}
{% block body %}
    <table class="table">
            <thead>
            {{ table_head|raw }}
            </thead>
            <tbody>
            {{ table_body|raw }}
            </tbody>
        </table>
{% endblock %}
