{% extends 'base.html.twig' %}

{% block h1 %}
	RoadMap!
{% endblock %}

{% block container %}
	<script id="roadmap-data" type="application/json">
		{{ roadmapJson|raw }}
	</script>
	<div class="container-fluid">
		<div class="container">
			<h1>Roadmap:
				{{ roadmap.title }}</h1>
		</div>
		<section
			id="roadmap-section">
			{# <div class="sidebar panel">Sidebar Left</div> #}
			<div id="roadmap-container" class="panel">
				<svg id="roadmap-lines" style="position: absolute; width: 100%; height: 100%;"></svg>
				<div id="roadmap"></div>
			</div>
			<div class="sidebar panel">
				<h2>YAML Representation</h2>
				<ul></ul>
			</div>
		</section>
	</div>
{% endblock %}
