{% extends 'base.html.twig' %}

{% block h1 %}New Payments{% endblock %}

{% block body %}
    <h1>Create new Payments</h1>

    {{ include('payments/_form.html.twig') }}

    <a href="{{ path('app_payments_index') }}">back to list</a>
{% endblock %}
