{% extends 'base.html.twig' %}

{% block h1 %}New Time System{% endblock %}
{% block card_actions %}
    <a href="{{ path('app_time_system_index') }}">back</a>
{% endblock %}
{% block body %}
    {{ include('time_system/_form.html.twig') }}
{% endblock %}
