.fixed-sidebars {
  position: relative;

  .fixed-sidebar {
    //position: fixed;
    font-family: monospace;
    top: 10rem;
    max-width: 15rem;
    margin: 0 auto;
    text-align: center;

    @include media-breakpoint-up(lg) {
      position: fixed;
      text-align: revert;
    }
  }

  .fixed-sidebar-left {
    left: 0;
  }

  .fixed-sidebar-right {
    right: 0;
  }

}
