.fixed-sidebars {
  position: relative;

  .fixed-sidebar {
    //position: fixed;
    font-family: monospace;
    max-width: 19rem;
    margin: 0 auto;
    text-align: center;

    @include media-breakpoint-up(lg) {
      position: fixed;
      text-align: revert;
    }
  }

  .fixed-sidebar-left {
    left: 0;
    // height: 100%;
    // min-height: 100vh;
    // display: flex;
    // flex-direction: column;
    // overflow-y: scroll;
  }

  .fixed-sidebar-right {
    top: 10rem;
    max-width: 15rem;
    right: 0;
  }

  ul.nav{
    li{
      max-width: 100%;
    }
  }
}