.tasks-list {
  .accordion-button {
    width: auto;
    padding: 0;
  }

  .form-check-label {
    max-width: 100%;
  }

}

.completed {
  .task_name {
    text-decoration: line-through;
  }
}


// Define a custom mixin to create the status classes
@mixin status-variant($color: $white) {
  //color: $color;
  border-left: 4px solid $color !important;
}

// Loop over the default Bootstrap map and generate the classes
@each $status, $value in $theme-colors {
  .status-#{$status} {
    @include status-variant($value);
  }
}

#eisenhower {
  overflow-y: scroll;

  > .card:not(:last-child) {
    width: 33%;
  }

  > .card {
    .list-group {
      overflow-y: scroll;
    }
    max-height: 40vh;
  }
}

.task-eisenhower-list {
  min-height: 5rem;

  &#task-pool {
    li.list-group-item {
      width: 25%;
    }
  }
}