{% set body %}
{# TODO: Display client rate #}
<div class="card-body">
	<span>
		{% for name,option in client.billingOption %}
			{% if option %}
				{{ include('components/Badge.html.twig', {'text': name ~ ': ' ~ option, 'attrs':{'title': name}}) }}
			{% endif %}
		{% endfor %}
	</span>
	<hr/>
	<h2>Accounts</h2>
	{% include 'accounts/_table.html.twig' with {'accounts': client.accounts} %}
</div>
<div class="card-footer text-end">
	{{ include('components/Badge/Timestamps.html.twig', {'entity': client}) }}
</div>
{% endset %}
{{ include('components/Crud/Show.html.twig', {
    'entity_name': entity_name,
    'entity_title': entity_title ~ ': ' ~ client.name,
    'entity': client,
    'body': body
    }) }}

