{% extends 'base.html.twig' %}

{% block h1 %}New Contract
{% endblock %}
{% block card_actions %}
	<div>
		<a href="{{ path('app_contract_index') }}">back to list</a>
	</div>
{% endblock %}
{% block body %}
	{{ include('contract/_form.html.twig') }}
{% endblock %}
