{% extends 'base.html.twig' %}

{% block h1 %}Task lists{% endblock %}
{% block card_actions %}
    <a href="{{ path('app_tasklist_new') }}" class="btn btn-outline-light">Create new</a>
{% endblock %}
{% block body %}
    <div class="row">
        {% for tasklist in tasklists %}
            <div class="col-4 text-center">
                <a href="{{ path('app_tasklist_show', {'id': tasklist.id}) }}" class="btn btn-outline-light btn-lg my-2 p-4 w-100">
{#                    <div class="d-flex">#}
                        {{ tasklist.name }}
{#                        <div class="btn-toolbar ms-auto">#}
{#                            <a href="{{ path('app_tasklist_edit', {'id': tasklist.id}) }}" class="btn btn-secondary">edit</a>#}
{#                        </div>#}
{#                    </div>#}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
