<div class="fixed-sidebars">
    <div class="fixed-sidebar fixed-sidebar-left">
        <img src="/imgs/flower.png" alt="flower for beauty and grace in what you do" width="40"/>
        <div id="flower">
        </div>
        <div style="text-decoration: underline;">WuWei</div>
        <div>Embrace</div>
        <div>Imperfection</div>
        <div>Mindfulness</div>
    </div>
    <div class="fixed-sidebar fixed-sidebar-right">
        <div class="list-group">
            {% set ts = time_system_service.getCurrent() %}
            {% for tsd in ts %}
                <div class="list-group-item">
                    {{ tsd.name }}
                </div>
            {% endfor %}
        </div><!-- .list-group -->
    </div><!-- .float-end -->
</div>
