{% if goals %}
	<h4>Goals</h4>
	<div class="goals mb-3 card-group-vertical">
		{% for goal in goals %}
			<div class="card goal" data-href="{{ path('app_goal_show', {'id': goal.id}) }}">
				<div class="card-body">
					<div class="card-title mb-0">{{ goal.name }}</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}
