{% if goals %}
	<h4>Goals</h4>
	<div class="goals d-flex flex-wrap flex-column mb-3">
		{% for goal in goals %}
			<div class="card goal flex-fill" data-href="{{ path('app_goal_show', {'id': goal.id}) }}">
				<div class="card-body">
					<div class="card-title">{{ goal.name }}</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endif %}
