{% if goals %}
<div class="card goals-card">
        <div class="card-header">
            <h2>Goals</h2>
        </div>
        <div class="list-group goals">
            {% for goal in goals %}
                <div class="list-group-item goal" data-href="{{ path('app_goal_show', {'id': goal.id}) }}">
                    {{ goal.name }}
                </div>
            {% endfor %}
        </div>
</div><!-- .goals-card -->
{% endif %}
