{% extends 'base.html.twig' %}

{% block h1 %}New Goal{% endblock %}
{% block card_actions %}
    <a href="{{ path('app_goal_index') }}" class="btn btn-link">back</a>
{% endblock %}
{% block body %}
    {{ include('goal/_form.html.twig') }}
{% endblock %}
