{% extends 'base.html.twig' %}

{% block h1 %}New Proposals{% endblock %}

{% block body %}
    <h1>Create new Proposals</h1>

    {{ include('proposals/_form.html.twig') }}

    <a href="{{ path('app_proposals_index') }}">back to list</a>
{% endblock %}
