<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>actions</th>
		</tr>
	</thead>
	<tbody>
		{% for tag in tags %}
			<tr>
				<td>{{ tag.name }}</td>
				<td>
					{{ include('components/Link/Entity.html.twig', {'name': 'tag_type', 'entity': tag.tagType}) }}
				</td>
				<td>
					{{ include('components/Link/Show.html.twig', {'name':'tag', 'id':tag.id }) }}
					{{ include('components/Link/Edit.html.twig', {'name':'tag', 'id':tag.id }) }}
				</td>
			</tr>
		</tbody>
	</tbody>
</tr>{% else %}
<tr>
	<td colspan="5">no records found</td>
</tr>{% endfor %}</tbody></table>
