{% extends 'base.html.twig' %}

{% block h1 %}New Tag{% endblock %}
{% block card_actions %}
    <a href="{{ path('app_tag_index') }}">back</a>
{% endblock %}
{% block body %}
    {{ include('tag/_form.html.twig') }}
{% endblock %}
