<div class="card">
	<div class="card-header">
		Month Work Hours (% of Goal)
	</div>
	<div class="card-body">
		<canvas id="monthWorkChart"></canvas>
	</div>
</div>

<script>
	const mtx = document.getElementById('monthWorkChart').getContext('2d');
const monthWorkHours = {{ monthWorkHours|json_encode|raw }};
const monthLabels = Object.keys(monthWorkHours); // Days of the month
const monthData = monthWorkHours;


new Chart(mtx, {
type: 'line',
data: {
labels: monthLabels,
datasets: [
{
label: 'Mins',
data: monthData,
backgroundColor: 'rgba(75, 192, 192, 0.2)',
borderColor: 'rgba(75, 192, 192, 1)',
borderWidth: 1, // Thinner line
fill: true, // No fill under the line
tension: 0, // Smooth curve
}
]
},
options: {
responsive: true,
maintainAspectRatio: false, // Allow custom height
scales: {
y: { // beginAtZero: true,
title: {
display: true,
text: 'Minutes'
}
}
},
plugins: {
legend: {
display: false // Hide the legend to save space
}
}
}
});
</script>
