{% extends 'base.html.twig' %}

{% block h1 %}
	Let's Go
{% endblock %}
{% block body %}
	<div class="card-body">
		<div class="row mb-3">
			{% for day in days %}
				<div class="col">
					{{ include('components/Day/Day.html.twig')}}
				</div>
			{% endfor %}
		</div>
		{% include 'tasks/_stats.html.twig' %}
		{{ include('components/Task/Tasks.html.twig')}}

		<div class="row">
			<div class="col">
				{% include('goal/_goals.html.twig') %}
			</div>
			{% include('item_list/_item_lists.html.twig') %}
		</div>
	</div>
{% endblock %}
