{% extends 'base.html.twig' %}
{% block h1 %}Welcome to WuWei{% endblock %}
{% block body %}
    {#    <div class="row align-items-stretch"> #}
    {#        <div class="col"> #}
    {% include 'progressbars/_progressbars.html.twig' %}
    <div class="card-group">
        {% include('goal/_goals.html.twig') %}
        {% include('item_list/_item_lists.html.twig') %}
    </div>
{% endblock %}
