{% extends 'base.html.twig' %}
{% block h1 %}Welcome to WuWei{% endblock %}
{% block body %}
    <div class="card-body">
        {% include('goal/_goals.html.twig') %}
        <hr/>
        {% include('item_list/_item_lists.html.twig') %}
    </div>
{% endblock %}
