{% extends 'base.html.twig' %}
{% block h1 %} Welcome to WuWei Dev{% endblock %}
{% block body %}
    {% include 'tag_type/_sections.html.twig' %}
    {% include 'progressbars/_progressbars.html.twig' %}
    <div class="card-body">
        {% include('goal/_goals.html.twig') %}
        <hr/>
        {% include('item_list/_item_lists.html.twig') %}
    </div>
{% endblock %}
