<form method="post" action="{{ path('app_tag_type_delete', {'id': tag_type.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag_type.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
