{% extends 'base.html.twig' %}

{% block h1 %}Tag Types
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name': 'tag_type'}) }}
{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for tag_type in tag_types %}
				<tr>
					<td>{{ tag_type.name }}</td>
					<td>
						{{ include('components/Link/Show.html.twig', {'name': 'tag_type', 'id':tag_type.id }) }}
						{{ include('components/Link/Edit.html.twig', {'name': 'tag_type', 'id':tag_type.id }) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
