{% set body %}
<div class="card-body">
	{% include'tag/_tags.html.twig' %}
</div>
<div class="card-footer text-end">
	{{ include('components/Badge/Timestamps.html.twig', {'entity': tag_type}) }}

	<a href="{{ path('app_tag_new', {'tagType': tag_type.id}) }}" class="btn btn-outline-light float-end">
		Create New Tag
	</a>
</div>
{% endset %}
{{ include('components/Crud/Show.html.twig', {
    'entity_name': entity_name,
    'entity_title': entity_title,
    'entity': tag_type,
    'body': body
    }) }}
