{% extends 'base.html.twig' %}

{% block h1 %}New Milestones{% endblock %}

{% block body %}
      {{ include('milestones/_form.html.twig') }}

    <a href="{{ path('app_milestones_index') }}">back to list</a>
{% endblock %}
