{% extends 'base.html.twig' %}

{% block h1 %}New Item{% endblock %}
{% block card_actions %}
    <a href="{{ path('app_item_index') }}" class="btn btn-link">back</a>
{% endblock %}
{% block body %}
    {{ include('item/_form.html.twig') }}
{% endblock %}
