{% extends 'base.html.twig' %}

{% block h1 %}Tasks index
{% endblock %}
{% block card_actions%}
	<div>
		<a href="{{ path('app_tasks_new') }}">Create new</a>
	</div>
{% endblock %}
{% block body %}
	{% include 'tasks/_table.html.twig' %}
{% endblock %}
