name: Deploy

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to droplet
          run: |
          ssh devops@139.59.152.188  "cd /var/www/wuwei && git pull origin master && php8.1 /usr/local/bin/composer  install --no-dev --optimize-autoloader && php8.1 bin/console cache:clear --env=prod && php8.1 bin/console doctrine:migrations:migrate --no-interaction"
