<h2>Items</h2>
{% for itemList in itemLists %}
	<div class="" {{ ("شعار المرحلة" == itemList.name)? "dir='rtl'" : "" }}>
		<h3>{{ itemList.name }}</h3>
		<div class="items d-flex flex-wrap">
			{% for item in itemList.items %}
				<div class="card goal flex-fill mb-3">
					<div class="card-body">
						<h4 class="card-title">
							{% include 'item/_item.html.twig' %}
						</h4>
					</div>
				</div>
				<!-- .list-group-item -->
			{% endfor %}
		</div>
	</div>
{% endfor %}
