{% for itemList in itemLists %}
    <div class="card" {{ ("شعار المرحلة" == itemList.name)? "dir='rtl'" : "" }}>
        <div class="card-header"><h2>{{ itemList.name }}</h2></div>
        <div class="list-group">
            {% for item in itemList.items %}
                <div class="list-group-item">
                    {% include 'item/_item.html.twig' %}
                </div><!-- .list-group-item -->
            {% endfor %}
        </div><!-- .list-group -->
    </div><!-- .card -->
{% endfor %}
