{% extends 'base.html.twig' %}

{% block h1 %}
	{{ item_lists|length }}
	Item Lists
{% endblock %}
{% block card_actions %}
	{{ include('components/Link/New.html.twig', {'name':'item_list'}) }}
{% endblock %}
{% block body %}
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for item_list in item_lists %}
				<tr>
					<td>
						{{ include('components/Link/Entity.html.twig', {'name':'item_list', 'entity': item_list}) }}
					</td>
					<td>
						{{ include('components/Link/Edit.html.twig', {'name':'item_list', 'id': item_list.id}) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
