{% extends 'base.html.twig' %}

{% block title %}New ItemList{% endblock %}

{% block body %}
    <h1>Create new ItemList</h1>

    {{ include('item_list/_form.html.twig') }}

    <a href="{{ path('app_item_list_index') }}">back to list</a>
{% endblock %}
